@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

::-webkit-scrollbar {
  display: none;
  ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  background: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  padding: 1rem 3rem;
  border: 1px solid #595959;
}

@media (max-width: 640px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

header > .header__logo {
  font-size: 2.2rem;
  color: #595959;
}

header > .header__nav > ul > li {
  display: inline;
  margin-left: 2rem;
  font-size: 1.3rem;
  color: #595959;
}

header > .header__nav > ul > li:first-child {
  margin: 0;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 1.2rem;
  width: 60%;
  height: auto;
  min-width: 450px;
  margin: 1rem 0;
  background: #ffff;
  border-radius: 8px;
  padding: 2rem 1.2rem;
  -webkit-box-shadow: 0 1px 4px 0 rgba(157, 157, 157, 0.5);
  box-shadow: 0 1px 4px 0 rgba(157, 157, 157, 0.5);
}

.container.no__padding {
  padding: 0;
}

@media (max-width: 640px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: unset;
    width: 90%;
  }
}

.container.first {
  margin-top: 4rem;
}

.container.max {
  max-width: 550px;
}

.container.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container > a {
  font-size: 1.5em;
  color: #2b2b2b;
  font-weight: bold;
}

.home {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 0 2rem;
  justify-content: center;
  margin-bottom: 1rem;
}

@media (max-width: 640px) {
  .home {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

.card__image {
  width: 100%;
  height: 250px;
  background-color: #595959;
}

.card__info {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0 1rem;
  gap: 0.8rem;
  flex-grow: 1;
}

.card__description > p {
  font-size: 15px;
  letter-spacing: 0.15px;
  line-height: 26px;
  color: rgba(89, 89, 89, 0.8);
  font-weight: bold;
}

.creator__info {
  display: flex;
  gap: 0.5rem;
  color: #595959;
  align-items: center;
}

.creator__info__avatar > p {
  font-size: 18px;
  font-weight: 600;
}

.creator__info__avatar > a:nth-child(1) {
  display: block;
  font-size: 18px;
  font-weight: 600;
}

.card__click {
  text-align: center;
  margin: 1rem 0;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-grow: 1;
}

.card__click > a {
  font-size: 18px;
  font-weight: 600;
  color: #595959;
  padding: 0.7rem 1.3rem;
  border: 2px solid #595959;
  transition: all 200ms ease-in-out;
}

.card__click > a:focus,
.card__click > a:hover {
  background-color: #595959;
  color: white;
}
